

.main-background{   
  background: transparent;

}


.footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  color: rgba(236,250, 241, 1);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.ultimate-bravery{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ultimate-bravery h1{
  color: #FF7F66;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bolder;
  font-size: 600%;
  margin-top: 90px;
  
}

#summoner-input{
  text-align: center;
  opacity: .8;
}

 .find-button{



   -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: rgba(236,240,241, 1);
  font-size: 31px;
  background: rgba(41,128,185, .7);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  
/*-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: rgba(236,240,241, 1);
  font-size: 31px;
  background: rgba(41,128,185, .4);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;*/
}

.summoner-form{
  text-align: center
}

.find-button:hover {
   background:rgba(41,128,185, .7);
  text-decoration: none;

}

html{
   margin: 0px;
   height: 100%;
   width: 100%;
}

body{
   margin: 0px;
   min-height: 100%;
   width: 100%;
   background-color: black;

}
