
.main-background{
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;   */
  /*background-color: rgba(209, 219, 189, 1);*/
  background: url("http://i.imgur.com/pEs5DEb.gifv") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: rgba(236,250, 241, 1);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.ultimate-bravery{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ultimate-bravery h1{
  color: rgba(255, 255, 255, 1);
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  font-size: 600%;
  margin-top: 90px;
  /*text-align: center;*/  
}

#summoner-input{
  text-align: center;
}

 .find-button{
background: #E74C3C;
  background-image: -webkit-linear-gradient(top, #E74C3C, #D94738);
  background-image: -moz-linear-gradient(top, #E74C3C, #D94738);
  background-image: -ms-linear-gradient(top, #E74C3C, #D94738);
  background-image: -o-linear-gradient(top, #E74C3C, #D94738);
  background-image: linear-gradient(to bottom, #E74C3C, #D94738);
  font-family: Arial;
  color: #E3E7E8;
  font-size: 29px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;

}

.summoner-form{
  text-align: center
}

.find-button:hover {
  background: #F55140;
  text-decoration: none;
}

html{
   margin: 0px;
   height: 100%;
   width: 100%;
}

body{
   margin: 0px;
   min-height: 100%;
   width: 100%;

}
