.summoner-box{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-left: 5%;
}




#champ-pics{
    display: inline-block;
    text-align: center;
      -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    margin: -30px;
}
#champ-clicks{
    padding: 0;
    border: none;
    background: none;
    
}
button.on{
    background-color: grey;
}