body{
    background-color: rgba(15, 39, 57, 1)
}



.choose-champ{
  color: rgba(231,76, 60, 1);
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  font-size: 600%;
}


.champ-pics{
    display: inline-block;
    text-align: center;
      -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    margin: -30px;
}

#champ-clicks{
    padding: 0;
    border: none;
    background: none;
    
}

.lbtn{
    background: #E74C3C;
  background-image: -webkit-linear-gradient(top, #E74C3C, #D94738);
  background-image: -moz-linear-gradient(top, #E74C3C, #D94738);
  background-image: -ms-linear-gradient(top, #E74C3C, #D94738);
  background-image: -o-linear-gradient(top, #E74C3C, #D94738);
  background-image: linear-gradient(to bottom, #E74C3C, #D94738);
  font-family: Arial;
  color: #E3E7E8;
  font-size: 29px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.button-col{
    text-align: center;
    margin-top: 20px;
    
}

.summoner-col{
    text-align: center;
}

.champs-col{
    text-align: center
}

.inactive:after{
    content: "";
    position: absolute;
    background-color: rgba(99, 99, 105, .8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.summoner-name{
    color: rgba(231,76, 60, 1);
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  font-size: 600%;


}

#champ-row{
    margin-top: 10%;
}

.select-champs-btn{
    background: #E74C3C;
  background-image: -webkit-linear-gradient(top, #E74C3C, #D94738);
  background-image: -moz-linear-gradient(top, #E74C3C, #D94738);
  background-image: -ms-linear-gradient(top, #E74C3C, #D94738);
  background-image: -o-linear-gradient(top, #E74C3C, #D94738);
  background-image: linear-gradient(to bottom, #E74C3C, #D94738);
  font-family: Arial;
  color: #E3E7E8;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-bottom: 15px;
}

.summoner-icon {
    border-radius: 50%;
}

