


html{
    min-height: 100%;
    background: url(http://apollo-na-uploads.s3.amazonaws.com/1409035201211/Ver2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.main-background{
    background: transparent;
}


.choose-champ{
  color: rgba(218,237,226, 1);
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  font-size: 600%;
}


.champ-pics{
    display: inline-block;
    text-align: center;
      -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    margin: -30px;
}

#champ-clicks{
    padding: 0;
    border: none;
    background: none;
    
}

.lbtn{



     -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: rgba(218,237,226, 1);
  font-size: 31px;
  background: rgba(41,128,185, .7);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-bottom: 15px;
    
  
}

.button-col{
    text-align: center;
    margin-top: 20px;
    
}

.summoner-col{
    text-align: center;
}

.champs-col{
    text-align: center
}

.inactive:after{
    content: "";
    position: absolute;
    background-color: rgba(99, 99, 105, .8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.summoner-name{

  color: #DAEDE2;

  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  font-size: 600%;


}

#champ-row{
    margin-top: 10%;
}

.select-champs-btn{
   -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: rgba(218,237,226, 1);
  font-size: 31px;
  background: rgba(41,128,185, .7);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin-bottom: 15px;
}

.summoner-icon {
    border-radius: 50%;
}

