.randomized-queue{
    border: 1px solid black;
    height: 500px;
}

.summoner-draw{
    border: 1px solid black;
    height: 400px;
    width: 500px;
}

.room-title{
    text-align: center;
}

.summoners-container{
    text-align: center;
}

.tournment-key{
    text-align: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
