.rules-col{
    
    margin-top: 5%;
}

.rules-header{
  color: rgba(231,76, 60, 1);
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  font-size: 600%;
  text-align: center;
}

.rule-number{
    text-align: left;
    font-size: 300%;
}
.big-ol-numba{
    font-size: 400%;
}