.rules-col{
    
    margin-top: 5%;
}

.rules-header{
  color: #1695A3;
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-weight: bold;
  font-size: 600%;
  text-align: center;
}

.rule-number{
    text-align: left;
    font-size: 300%;
}
.big-ol-numba{
    font-size: 300%;
    color: #8E2800
}

.rule-background{
     min-height: 100%;
    background: url(http://apollo-na-uploads.s3.amazonaws.com/1409035201211/Ver2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.main-rules{
    color: #BD8D46

}

.rules-def{
    color: #BD8D46

}

