<div class="main-background" >
    <div class="container-fluid">



        <div class="title">

            <div class="row">


                <div class="ultimate-bravery">

                    <h1 class="main-title">
                        Ultimate Bravery
                    </h1> <br>

                    <form class="summoner-form" ng-submit="$ctrl.showSummonerProfile($ctrl.summonername)">
                        <input type="text" class="form-control" placeholder="Summoner Name" id="summoner-input" ng-model="$ctrl.summonername" required> <br><br>
                        <button type="submit" class="find-button" ng-click="$ctrl.getSummonerProfile()">Join the Battle</button>

                    </form>

                </div>


            </div>


        </div>





        <footer class="footer">
<div class="container">


               
            <div class="row">



                <p class="stickylink">

                    This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.<br>                    Follow us at <a href="">Twitter</a> Sponsered by <a href="https://boisecodeworks.com/">Boise Code Works</a>
                </p>
            </div>
                
</div>

        </footer>
    </div>
</div>