<div class="main-background">
    <div class="container-fluid">



        <div class="title">

            <div class="row">


                <div class="ultimate-bravery">

                    <h1 class="">
                        Ultimate Bravery
                    </h1>

                    <form>
                        <input type="text" class="form-control">
                        <button>wat</button>



                    </form>

                </div>


            </div>


        </div>





        <footer class="footer">


            <div class="row">


                <p class="stickylink">

                    This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.<br>                    Follow us at <a href="">Twitter</a>
                </p>
            </div>

        </footer>
    </div>
</div>