<div class="main-background">

<!--SUMMONER PROFILE-->

    <div class="container-fluid">
        <div class ="row">
            <div class="summoner-col col-xs-12">
                <div class="summoner-box">
                    <h1 class="summoner-name">{{$ctrl.user.summoner}}</h1>
                </div>
            </div>
        </div>
    </div>

<!--CONTAINER FOR FIND MATCH BUTTON-->

    <div class="container-fluid">
        <div class="row">
             <div class="button-col col-xs-12">
                <button type="submit" ng-click="$ctrl.findMatchGame()">Queue Up</button>
               
             </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
             <div class="button-col col-xs-12">
                <button type="submit" ng-click="$ctrl.rules()">RULES</button>
               
             </div>
        </div>
    </div>

<!--CONTAINER FOR CHAMPION ICONS AND BUTTONS-->

    <div class="container-fluid">
        <div class="row" id="champ-row">
             <div class="champs-col col-xs-12">
                 <div class="champs-boxes">
                    <div ng-repeat="champ in $ctrl.champArray" class="champ-pics" ng-class="{'inactive': !$ctrl.user.champs[champ.name].owned}" ng-click="$ctrl.toggleChamp(champ)">
                        <img src="{{champ.img}}">
                    </div>                                    
                </div>
                    <button class="select-champs-btn" ng-click="$ctrl.toggleAllChamps()">{{$ctrl.champBtn}}</button>
             </div>
        </div>
    </div>

</div>
    

