<link rel="stylesheet" href="assests/landingpage.css">


<div class="main-info container-fluid">

    <nav class="navbar navbar-default">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-4 main-title">
                    <h1>Ulitmate Bravery</h1>
                </div>
                <div class="col-xs-4 play-button">
                    <button type="button" class="lbtn" ng-click="$ctrl.findMatchGame()">Queue</button> </br>
                    <!--<p class="room-num">Active Room: {{$ctrl.client.room.room}}</p> </br>-->
                    <p class="room-num">Online Summoners: {{$ctrl.client.room.summoners.length}}</p>
                </div>
                <div class="col-xs-4 summoner-info">
                <h1 class="summoner-name">{{$ctrl.user.summoner}}</h1> </br>
                <img class="summoner-icon" ng-src="{{$ctrl.user.profileIcon}}" />
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="main-background container-fluid">
    </br>

    
    <!--SUMMONER PROFILE-->
<!--
    <div class="row">
        <div class="summoner-col col-xs-12">
            <div class="summoner-row">
                <div class="summoner-col">
                    <div class="summoner-box">
                        <h1 class="summoner-name">{{$ctrl.user.summoner}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!--CONTAINER FOR PROFILE ICON-->

    <!--<div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <img class="summoner-icon" ng-src="{{$ctrl.user.profileIcon}}" />
            </div>
        </div>
    </div>-->


    <!--CONTAINER FOR FIND MATCH BUTTON-->

    <!--<div class="row">
        <div class="button-col col-xs-4">
            <button type="button" class="lbtn" ng-click="$ctrl.findMatchGame()">Queue</button>
        </div>
        <div class="button-col col-xs-4">
            <button type="button" class="lbtn" ng-click="$ctrl.rules()">Rules</button>
        </div>
        <div class="button-col col-xs-4">
            <button type="button" class="lbtn" ng-click="$ctrl.quickmatch()">SoloPlay</button>
        </div>
    </div>-->

    <!--CONTAINER FOR CHAMPION ICONS AND BUTTONS-->

    <div class="row" id="champ-row">
        <div class="champs-col col-xs-offset-1 col-xs-10 col-xs-offset-1">
            <!--<span class="choose-champ"><h1>Select Champions</h1></span>-->
            <!--<hr>-->
            <button class="select-champs-btn" ng-click="$ctrl.toggleAllChamps()">{{$ctrl.champBtn}}</button>
            <div class="champs-boxes">
                <div ng-repeat="champ in $ctrl.champArray track by $index" class="champ-pics" ng-class="{'inactive': !$ctrl.user.champs[champ.name].owned}"
                    ng-click="$ctrl.toggleChamp(champ)">
                    <img src="{{champ.img}}">

                    <!--<div>
                                    <div ng-repeat="spell in champ.spells" style="display: inline-block">
                                        <img src="{{spell}}" width="40" />
                                    </div>
                                </div>-->

                </div>
            </div>
        </div>
    </div>
</div>



<!--STYLE LATER-->

<!--<div style="position: absolute; top: 0; right: 0; background:white; padding: 20px; color: red;">
    <p>Active Room: {{$ctrl.client.room.room}}</p>
    <p>Online Summoners: {{$ctrl.client.room.summoners.length}}</p>
</div>-->