<link rel="stylesheet" href="assests/queue.css">
<div class="main-background">


  <!--All players in same game gets drawn to the screen here once they click accept on the screen, they will be given their random champ/build/keystone Mastry/and summoner spells to use. These will all be drawn on the screen here. This will spawn a tournment key for use inside the client-->

  <h1 class="room-title">Game Lobby</h1>

  <div class="container summoners-container">
    <div class="row">
      <div class="col-xs-12 summoners-container">
        <div class="randomized-queue">
          <div ng-repeat="summoner in $ctrl.summoners track by $index">
            {{summoner.name}}
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>


    <!--Tournament Key Placement-->

  <div class="riot-client-key">
     <div class="row">
       <div class="col-xs-12">
        <p class="tournament-key">Tournament Key for Client spawns here</p>
       </div>
     </div>
    </div>
  
  </div>
</div>