<div class="rule-background">
    <div class="rules-contain container-fluid">
        <div class="rules-header">Please Follow The Rules Summoners</div>
        <div class="rules-row row">
            <div class="rules-col col-xs-offset-2 col-xs-8">
                <h1 class="main-rules"><span class="big-ol-numba">1</span> Champions are for life</h1>
                <h3 class="rules-def">The champion has chosen you, not the other way around, remember summoners, play the champion you are assigned.</h3>

                <h1 class="main-rules"><span class="big-ol-numba">2</span> Summoner Spells are for life</h1>

                <h3 class="rules-def">Stick with your chosen summoner spells, players who stray from the chosen path with not be missed.</h3>

                <h1 class="main-rules"><span class="big-ol-numba">3</span> A max spell is not to be chosen but given</h1>

                <h3 class="rules-def">Summoners must max the given skill first even faced with better options. Doing this shows you have ultimate bravery, do not attempt to stray from your chosen path. </h3>

                <h1 class="main-rules"><span class="big-ol-numba">4</span> Builds are not chosen, but given</h1>

                <h3 class="rules-def">Do not stray from the path of the chosen items, a true warrior can overcome all opponents with a tooth pick and ducktape.</h3>

                <h1 class="main-rules"><span class="big-ol-numba">5</span> Darkness is your friend, wards are forbidden</h1>

                <h3 class="rules-def">A true warrior does not need light to face his enemy, a true warrior succeedes with what he is given. NO
                    WARDS!</h3>

            </div>
        </div>
    </div>
</div>