<div class="main-background" >
    <div class="rules-contain container-fluid">
        <div class="rules-header">Please Follow The Rules Summoners</div>
        <div class="rules-row row">
            <div class="rules-col col-xs-offset-2 col-xs-8">
                <div class="rule-number ">1</div>
                     <h1 class="main-rules"><span class="big-ol-numba">1</span>RULE #1 DONT TALK ABOUT FIGHTCLUBS</h1>
                             <h3 class="rules-def">YOU KNOW THE DAMN RULE</h3>
                      
                    <h1 class="main-rules">RULE #1 DONT TALK ABOUT FIGHTCLUB</h1>
                         
                             <h3 class="rules-def">YOU KNOW THE DAMN RULE</h3>
                    <h1 class="main-rules">RULE #1 DONT TALK ABOUT FIGHTCLUBS</h1>
                        
                             <h3 class="rules-def">YOU KNOW THE DAMN RULE</h3>
                    <h1 class="main-rules">RULE #1 DONT TALK ABOUT FIGHTCLUBS</h1>
                         
                             <h3 class="rules-def">YOU KNOW THE DAMN RULE</h3>
                    <h1 class="main-rules">RULE #1 DONT TALK ABOUT FIGHTCLUBS</h1>
                        
                             <h3 class="rules-def">YOU KNOW THE DAMN RULE</h3>
            </div>
        </div>
    </div>
</div>